{{ define "title" -}}
  {{ .Title }} | {{ .Site.Title }}
{{- end }}

{{ define "header"}} {{ partial "menu" . }} {{ end }}

{{ define "main" }}

<section class="section">

<div class="container">

    <div class="columns">

      <div class="column is-one-quarter">
        <aside class="menu">
          <p class="menu-label">
            Historical Context
          </p>
          <ul class="menu-list">
            <li><a href="/historical/timeline/">Timeline of the City's History</a></li>
            <li>
              <p class="menu-label">People and Events</p>
              <ul>
                <li><a href="/historical/timeline/1915/343/">Henry R. Pontorno's bank</a></li>
                <li>
                  <a href="/historical/people/eastland/">The Eastland Disaster</a>
                  <ul>
                      <li><a href="/historical/timeline/1915/394/">Crowd</a></li>
                      <li><a href="/historical/timeline/1915/442/">Crowd 2</a></li>
                      <li><a href="/historical/timeline/1915/393/">Girls Body</a></li>
                      <li><a href="/historical/timeline/1915/402/">Captain Harry Pederson</a></li>
                      <li><a href="/historical/timeline/1915/395/">Stretcher</a></li>
                      <li><a href="/historical/timeline/1915/396/">Line</a></li>
                    </ul>
                </li>
                <li>
                  <a href="/historical/people/duc/">Julius Duc</a>
                  <ul>
                    <li><a href="/historical/timeline/1911/356/">Sitting with wig</a></li>
                    <li><a href="/historical/timeline/1911/357/">Standing</a></li>
                    <li><a href="/historical/timeline/1911/358/">Sitting without wig</a></li>
                  </ul>
                </li>
                <li><a href="/historical/movements/hullhouse/">James Ryan</a></li>
                <li><a href="/historical/movements/haymarket/">John Kovich</a></li>
                <li><a href="/historical/movements/railroad-strike/">Olive Waldeck</a></li>
                <li><a href="/historical/movements/working/">Tommy O'Connor</a></li>
                <li><a href="/historical/movements/prohibition/">Policeman John Scott </a></li>
              </ul>
            </li>
            <li>
              <p class="menu-label">Labor, Social and Reform Movements</p>
              <ul>
                <li><a href="/historical/movements/working/">Working in Chicago</a></li>
                <li><a href="/historical/movements/prohibition/">Prohibition and Temperance</a></li>
                <li><a href="/historical/movements/race-riot/">Race Riot</a></li>
                <li><a href="/historical/movements/hullhouse/">Jane Addams and Hull House</a></li>
                <li><a href="/historical/movements/haymarket/">The Haymarket Affair</a></li>
                <li><a href="/historical/movements/railroad-strike/">Railroad Strike</a></li>
              </ul>
            </li>
            <li><a href="/historical/children/" class="menu-label">Lives of Children</a></li>
          </ul>
        </aside>
      </div>


      <div class="column">
        <div class="content">
          <h2>{{ .Params.Title }}</h2>

            {{ .Content }}
        </div>
      </div>

    </div><!-- columns -->

</div>

</section>

{{ end }}

{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
