{{ define "title" -}}
  {{ .Title }} | {{ .Site.Title }}
{{- end }}

{{ define "header" }} {{ partial "menu" . }} {{ end }}

{{ define "main" }}

<div class="columns is-fullheight">
    <div class="column">
        <section class="hero is-default is-bold">
            <div class="hero-body">
                <div class="content container">
                  <h2>{{ .Params.Title }}</h2>

                  {{ if .Params.image_src }}
                  <div class="box">
                    <figure class="image">
                      <img src="{{ .Params.image_src }}">
                    </figure>
                  </div>
                  {{ end }}

                   {{ .Content}}

                </div>
                <br>
            </div>
        </section>
    </div>
</div>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
