{{ define "title" -}}
  {{ .Title }} | {{ .Site.Title }}
{{- end }}

{{ define "header"}} {{ partial "menu" . }} {{ end }}

{{ define "main" }}

<section class="section">

<div class="container">

    <div class="columns">

      <div class="column is-one-quarter">
        <aside class="menu">
          <p class="menu-label">
            Timeline of the City's History
          </p>
          <ul class="menu-list">
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
            <li>
              <a href="/historical/timeline/1871/">1871</a>
              <ul>
                <li><a href="/historical/timeline/1871//">Officers and Detectives</a></li>
                <li><a href="/historical/timeline/1871//">Commanding Officers</a></li>
                <li><a href="/historical/timeline/1871/1871/">Police Stations</a></li>
              </ul>
            </li>
          </ul>
        </aside>
      </div>


      <div class="column">
        <div class="content">
          <p>{{ .Params.year }}</p>
          <h2>{{ .Title }}</h2>
            {{ .Content }}
        </div>
      </div>

    </div><!-- columns -->

</div>

</section>

{{ end }}

{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
