# Hugo default output directory
/public

# Static Assets (PDFs, Images, Data)
/static/docs_fk
/static/img
/data/homicidedata.csv
/data/homicidedata.json

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store
