# Hugo default output directory
/public

# Static Assets (PDFs, Images, data)
/static/docs_fk
/static/img
/data

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store
