{{ define "title" -}}
  {{ .Title }} | {{ .Site.Title }}
{{- end }}

{{ define "header" }} {{ partial "menu" . }} {{ end }}

{{ define "main" }}

<div class="columns is-fullheight">
    <div class="column">
        <section class="hero is-default is-bold">
            <div class="hero-body">
                <div class="content container">
                  <h2 class="title">{{ .Title }}</h2>
                  <!-- Arch is not currently configured to allow iframe embeds
                  <iframe src="http://arch.library.northwestern.edu/concern/parent/vx021f31v/file_sets/s7526c62c" style="height:440px;width:100%"></iframe>
                  -->
                  {{ .Content}}

                  <a class="button" href="{{ .Params.doi }}">Download</a>
                </div>
                <br>
            </div>
        </section>
    </div>
</div>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
