<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
              <a href="/">Home</a> |
              <a href="/about/">About</a> |
              <a href="/about/credits/">Credits</a> |
              <a href="/search/">Database Download</a> |
              <a href="/about/contact">Contact Us</a>
            </p>
            <p>&copy;2012 Leigh Bienen, <a href="http://www.law.northwestern.edu/">Northwestern University School of Law</a></p>
        </div>
        <a href="http://www.law.northwestern.edu/" target="_blank">
          <img src="/img/northwestern-law-logo.gif" alt="Northwestern University School of Law">
        </a>
    </div>
</footer>
