<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
              <a href="/">Home</a> |
              <a href="/about/">About</a> |
              <a href="#">Credits</a> |
              <a href="#">Database Download</a> |
              <a href="#">Case of the Day</a> |
              <a href="/about/contact">Contact Us</a>
            </p>
            <p>&copy;2012 Leigh Bienen, <a href="http://www.law.northwestern.edu/">Northwestern University School of Law</a></p>
            <img src="/img/northwestern-law-logo.gif" alt="Northwestern University School of Law">
        </div>
    </div>
</footer>
