{{ define "title" -}}
  {{ .Title }} | {{ .Site.Title }}
{{- end }}

{{ define "header"}} {{ partial "menu" . }} {{ end }}

{{ define "main" }}

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h2 class="title">
        {{ .Title }}
      </h2>
    </div>
  </div>
</section>

<section class="section">

<div class="container">

    <div class="columns">

      <div class="column is-one-quarter">
        <aside class="menu">
          <p class="menu-label">
            Publications
          </p>
          <ul class="menu-list">
            <li><a href="/pubs/notwiser/">Not Wiser</a></li>
            <li><a href="/pubs/journal/">JCLC Vol. 92 2002</a></li>
            <li><a href="/pubs/crimes/">Crimes of the Century (1998)</a></li>
            <li><a href="/pubs/mayday/">The First Mayday: the Haymarket speeches (1980)</a></li>
            <li><a href="/pubs/pia/">Police in America (1971)</a></li>
            <li><a href="/pubs/manual/">A Manual of Criminal Law (1930)</a></li>
            <li><a href="/pubs/icc/">Illinois Crime Survey (1929)</a></li>
            <li><a href="/pubs/graft/">Crime and the Civic Cancer-Graft (1922)</a></li>
            <li><a href="/pubs/negrochicago/">The Negro in Chicago (1919)</a></li>
            <li><a href="/pubs/ccreport/">Crime Commission Report (1915)</a></li>
            <li><a href="/pubs/homeless/">1000 Homeless Men (1914)</a></li>
            <li><a href="/pubs/hullhouse/">Hull House Maps and Papers (1895)</a></li>
            <li><a href="/pubs/ICCTC/">If Christ Came to Chicago (1894)</a></li>
            <li><a href="/pubs/anarchy/">Anarchy and Anarchists (1889)</a></li>
          </ul>
        </aside>
      </div>


      <div class="column">
        <div class="content">
            {{ .Content }}
        </div>
      </div>

    </div><!-- columns -->

</div>

</section>

{{ end }}

{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
