{{ define "title" -}}
  {{ .Title }} | {{ .Site.Title }}
{{- end }}

{{ define "header"}} {{ partial "menu" . }} {{ end }}

{{ define "main" }}

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h2 class="title">
        {{ .Title }}
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
      <div class="columns">
        <div class="column is-one-quarter">
          <aside class="menu">
            <p class="menu-label">
              Legal Context
            </p>
            <ul class="menu-list">
              <li>
                <a href="/legal/cpd/">Chicago Police Department</a>
                <ul>
                  <li><a href="/legal/cpd/officers/">Officers and Detectives</a></li>
                  <li><a href="/legal/cpd/commanding/">Commanding Officers</a></li>
                  <li><a href="/legal/cpd/policestations/">Police Stations</a></li>
                </ul>
              </li>
              <li><a href="/legal/capital/">Capital Punishment</a></li>
              <li><a href="/legal/capital-cases/">Capital Punishment Cases</a></li>
              <li><a href="/legal/corruption/">Anti-Corruption Campaigns</a></li>
              <li><a href="/legal/judges/">Judges</a></li>
              <li><a href="/legal/criminology/">Criminology</a></li>
              <li><a href="/legal/prostitution/">Prostitution</a></li>
              <li><a href="/legal/gambling/">Gambling</a></li>
              <li><a href="/legal/murder/">Murder/ Suicides</a></li>
              <li><a href="/legal/accidents/">Accidents</a></li>
              <li><a href="/legal/lawyers/">Lives of Lawyers</a></li>
              <li><a href="/legal/laws/">The Laws</a></li>
            </ul>
          </aside>
        </div>
        <div class="column is-three-quarters">
          <div class="content">
              <div class="content">
                {{ .Content }}
              </div>
           </div>
        </div>
      </div><!-- columns -->
  </div>
</section>

{{ end }}

{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
